body {
    margin:  0;
    padding: 0;
}

h1 {
    margin: 0;
}

a {
    text-decoration: none;
    color: #000000;
}

.hidden {
    display: none;
}

#message {
    color: #999999;
    text-align: center;
    font-size: .9em;
}

input.input {
    height: 1.5em;
    background-color: #FFFFFF;
    border: 1px solid #B3B3B3;
    -moz-border-radius: .2em;
    -webkit-border-radius: .2em;
    -o-border-radius: .2em;
    -ms-border-radius: .2em;
    border-radius: .2em;
    padding: .3em .6em;
    font-size: .85em;
    color: #999999;
    -webkit-box-shadow: inset 0px 4px 4px 0px rgba(50, 50, 50, 0.18);
    -moz-box-shadow:    inset 0px 4px 4px 0px rgba(50, 50, 50, 0.18);
    box-shadow:         inset 0px 4px 4px 0px rgba(50, 50, 50, 0.18);
}

input.input:focus {
    border-color: #D4AA00;
    outline: 0;
}

input.button {
    padding: .3em;
    color: #FFFFFF;
    border: 1px solid #333333;
    -moz-border-radius: .2em;
    -webkit-border-radius: .2em;
    -o-border-radius: .2em;
    -ms-border-radius: .2em;
    border-radius: .2em;

    background: rgb(125,126,125);
    background: -moz-linear-gradient(top,  rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,126,125,1)), color-stop(100%,rgba(14,14,14,1)));
    background: -webkit-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%);
    background: -o-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%);
    background: -ms-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%);
    background: linear-gradient(to bottom,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 );
}

input.button:focus, input.button:active {
    outline: 0;
    position: relative;
    top: 1px;
}

#header {
    margin-bottom: 1.5em;
    padding: .2em 1.5em;
    overflow: hidden;

    background: rgb(232,232,232);
    background: -moz-linear-gradient(top,  rgba(232,232,232,1) 60%, rgba(216,216,216,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(60%,rgba(232,232,232,1)), color-stop(100%,rgba(216,216,216,1)));
    background: -webkit-linear-gradient(top,  rgba(232,232,232,1) 60%,rgba(216,216,216,1) 100%);
    background: -o-linear-gradient(top,  rgba(232,232,232,1) 60%,rgba(216,216,216,1) 100%);
    background: -ms-linear-gradient(top,  rgba(232,232,232,1) 60%,rgba(216,216,216,1) 100%);
    background: linear-gradient(to bottom,  rgba(232,232,232,1) 60%,rgba(216,216,216,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#d8d8d8',GradientType=0 );
}

#header #title {
    float: left;
    margin: 1em 0;
}

#header #title img {
    height: 1.1em;
}

#header #right {
    float: right;
    margin: 1em 0;
}

#header #new {
    float: left;
    margin: .5em 0;
}

#header #settings {
    float: right;
    margin-left: .6em;
    padding-left: .6em;
    border-left: 2px solid #F2F2F2;
    text-align: center;
}

#header #settings img {
    height: 2.5em;
}

#header h1 a {
    color: #FFFFFF;
    font-size: 1em;
    font-style: italic;
}

#content {
    margin: 0 auto;
    width: 60%;
    font-family: 'Roboto', sans-serif;
    border: 1px solid #ECECEC;
    border-collapse: collapse;

    /*
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    -o-border-radius: .3em;
    -ms-border-radius: .3em;
    border-radius: .3em;
    */
}

#content tr {
    border: 1px solid #D9D9D9;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

#content td, #content th {
    margin: .3em .5em;
    padding: .5em 1em;
}

#content th {
    background: -moz-linear-gradient(top,  rgba(232,232,232,0.17) 0%, rgba(232,232,232,0.82) 77%, rgba(217,217,217,1) 98%, rgba(216,216,216,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(232,232,232,0.17)), color-stop(77%,rgba(232,232,232,0.82)), color-stop(98%,rgba(217,217,217,1)), color-stop(100%,rgba(216,216,216,1)));
    background: -webkit-linear-gradient(top,  rgba(232,232,232,0.17) 0%,rgba(232,232,232,0.82) 77%,rgba(217,217,217,1) 98%,rgba(216,216,216,1) 100%);
    background: -o-linear-gradient(top,  rgba(232,232,232,0.17) 0%,rgba(232,232,232,0.82) 77%,rgba(217,217,217,1) 98%,rgba(216,216,216,1) 100%);
    background: -ms-linear-gradient(top,  rgba(232,232,232,0.17) 0%,rgba(232,232,232,0.82) 77%,rgba(217,217,217,1) 98%,rgba(216,216,216,1) 100%);
    background: linear-gradient(to bottom,  rgba(232,232,232,0.17) 0%,rgba(232,232,232,0.82) 77%,rgba(217,217,217,1) 98%,rgba(216,216,216,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2be8e8e8', endColorstr='#d8d8d8',GradientType=0 );

    text-align: left;
}

#content tr.even td {
    background-color: #F9F9F9;
}

#content tr.odd td {
    background-color: #FFFFFF;
}

.download_actions {
    margin-top: .5em;
}

.download_actions div {
    display: inline;
    margin-right: .7em;
    cursor: pointer;
    text-decoration: underline;
}

.download_actions div img {
    width: 1.7em;
    height: auto;
}

.download_bar {
    width: 100%;
    margin: .4em;
    height: 2px;
    border: 1px solid #999999;
    border-radius: .5em;
    text-align: center;
}

.download_progress {
    height: 100%;
    border-radius: .5em;
    background-image: url('../progress.png');
    background: #009cff;
}

.download_info {
    font-size: .8em;
    text-align: center;
}